/* Make the v3 player responsive by default. */
.ooyala-player-responsive {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}
.ooyala-player-responsive > div {
  position: absolute !important; /* Needed to override inline styles. */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ooyala-preview {
  float: left;
  text-align: center;
  position: relative;
  width: 150px;
  min-height: 100px;
  padding: 10px;
}

.ooyala-preview-hidden {
  display: none;
}

.ooyala-preview-placeholder {
  width: 130px;
  border: 1px solid #CCC;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  padding: 20px 10px;
  margin-right: 0.5em;
}

.ooyala-button-container input.form-text {
  display: inline;
  width: auto;
}

.ooyala-progress div {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.ooyala-progress span.throbber {
  display: block;
  width: 150px;
  height: 24px;
  top: 40px;
  left: 0;
  position: absolute;
  z-index: 20;
  padding: 10px;
  background: url(throbber.gif) no-repeat center center;
}

#ooyala-message span.percentage {
  font-weight: bold;
}

#ooyala-message span.ooyala-filename {
  font-style: italic;
}

.ooyala-finished #ooyala-message {
  font-weight: bold;
  color: #469028;
}

.ooyala-button-container input.form-submit,
.ooyala-button-container embed {
  vertical-align: top;
  margin: 0;
}

/* Styles for the video thumbnail selection. */
div.ooyala-upload-thumbnails {
  display: inline;
}

div.ooyala-upload-thumbnails div.form-item {
  float: left;
}

div.ooyala-upload-thumbnails img {
  margin-right: 0.5em;
  opacity: 0.5;
  filter: alpha(opacity=50);
  padding: 2px;
}

div.ooyala-upload-thumbnails .ooyala-thumbnail-selected img {
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 0;
  border: 2px solid black;
}

input.ooyala-upload-thumbnails {
  display: none;
}

/* Administrative styles. */
#ooyala-import th.checkbox,
#ooyala-import td.checkbox {
  width: 2em;
  padding: inherit;
}
